
@keyframes change-image {
    0% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/image1.gif');
    }
    20% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/image2.gif');
    }
    40% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/image3.gif');
    }
  
    60% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/cute-4784545_960_720.png');
    }
    80% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/pikachu-3865521_960_720.png');
    }
    100% {
      background-image: url('https://imagespocauniversitepariscite.s3.eu-central-1.amazonaws.com/pokemon-4784551_960_720.png');
    }
  }
  
  
  
  
  
  .Deuiopsel {
  
    
    border: 1px solid rgb(16, 248, 86); 
    background-color: lightgray;
    color: #0c130c;
  
  }
  
  
  
  
  